<p>Please enter your personal info:</p>
<div class="mb1">
  <%= text_field_tag :first_name, "",placeholder: "First Name", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :last_name, "",placeholder: "Last Name", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :street, "",placeholder: "Address", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :city, "",placeholder: "City", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :province, "",placeholder: "Province", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :postal_code, "",placeholder: "Postal Code", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :phone, "",placeholder: "Phone", class: "radius" %>
</div>




